{% extends 'base.html.twig' %}

{% block title %}Genus {{ genus.name }}{% endblock %}

{% block body %}
    <h2 class="genus-name">{{ genus.name }}</h2>
    <div class="sea-creature-container">
        <div class="genus-photo"></div>
        <div class="genus-details">
            <dl class="genus-details-list">
                <dt>Subfamily:</dt>
                <dd>{{ genus.name }}</dd>
                <dt>Known Species:</dt>
                <dd>{{ genus.speciesCount }}</dd>
                <dt>Fun Fact:</dt>
                <dd>{{ genus.getFunFact | markdownify}}</dd>
                <dt>Recent notes</dt>
                <dd>{{ recentNoteCount }}</dd>
            </dl>
        </div>
    </div>
    <div id="js-notes-wrapper"></div>
{% endblock %}
{% block javascripts %}
     {{ parent() }}
    <script src="{{ asset('js/react.js') }}"></script>
    <script src="{{ asset('js/react-dom.js') }}"></script>
    <script src="{{ asset('js/browser.mim.js') }}"></script>

    <script type="text/babel" src="{{ asset('js/notes.react.js') }}"></script>
    <script type="text/babel">
        var notesUrl = '{{ path('genus_show_notes', {'name': genus.name}) }}';
        ReactDOM.render(
            <NoteSection url={notesUrl}/>,
            document.getElementById('js-notes-wrapper')
        )
    </script>
{% endblock %}